#background {
    width: 100%;
    height: 100%;
    fill: "black";
}

.myText {
    text-length: 15;
}

#newUse #config {
    text-buffer: /* set text on text-buffer of id widget-instance id config */
        'text: newUse;';
}
#classEl1 #config {
    text-buffer:
        'text: myClass El 1';
}
 #classEl2 #config {
    text-buffer:
        'text: myClass El 2;';
}


.myClass{
    fill: orange;
    font-family: 'Barlow-Bold';
    font-size: 35; /* haha... gets applied, but logs as -32768 WTF??*/
    
}
.myClass #main {
    letter-spacing: 3;/* INCONSISTENT having to use mainEl here */
    text-anchor: start;
}
.myClass #light{
    fill: magenta;
    x: -2;
    y: -2;
    opacity: 0.8;
}
.myClass #shadow{
    fill: red;
    x: 3;
    y: 3;
    opacity: 0.5;
}
